* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    /* justify-content: space-between; */
    column-gap: 100px;
    align-items: center;
    background-color:burlywood;
    padding: 30px 50px;
}

.navbar .logo {
    color:crimson;
    font-size: 28px;
    padding-left: 30px;
}

.nav-links {
    list-style: none;
    padding-right: 150px;
    display: flex;
    margin-left: 200px;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    transition: background  0.3s;
}

.nav-links a:hover {
    background-color: #555;
}

.toggle {
    display: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #333;
        width: 100%;
        top: 60px;
        left: 0;
    }

    .nav-links.active {
        display: flex;
    }

    .toggle {
        display: block;
    }
}
